

<h1>
  Article
</h1>

<div class="col-md-12">
  <ol>
    <%= render partial: 'pages/articles/explain' %>
    <br>

    <h3><li>Create</li></h3>
    <%= render partial: 'pages/articles/create' %>

    <br>

    <h3><li>Get Article Info</li></h3>
    <%= render partial: 'pages/articles/show' %>


    <h3><li>Get List Articles</li></h3>
    <%= render partial: 'pages/articles/index' %>


    <h3><li>Update Article</li></h3>
    <%= render partial: 'pages/articles/update' %>

    <h3><li>Get List Submitted Article</li></h3>
    <%= render partial: 'pages/articles/submit_articles' %>

    <h3><li>Like an Article</li></h3>
    <%= render partial: 'pages/articles/like' %>

    <h3><li>Unlike an Article</li></h3>
    <%= render partial: 'pages/articles/unlike' %>

    <h3><li>Vote an Article</li></h3>
    <%= render partial: 'pages/articles/vote' %>

    <h3><li>Get Articles in Queue page</li></h3>
    <%= render partial: 'pages/articles/queue' %>

    <h3><li>Get Articles have liked </li></h3>
    <%= render partial: 'pages/articles/favorites' %>

    <!--<h3><li>Delete Article</li></h3>-->
    <%#= render partial: 'pages/articles/delete' %>
  </ol>
</div>
