
<h1>
  User
</h1>

<div class="col-md-12">
  <ol>

    <h3><li>Sign up</li></h3>
    <%= render partial: 'pages/user/sign_up' %>

    <br>

    <h3><li>Sign in</li></h3>
    <%= render partial: 'pages/user/sign_in' %>

    <h3><li>Sign out</li></h3>
    <%= render partial: 'pages/user/sign_out' %>

    <h3><li>Profile</li></h3>
    <%= render partial: 'pages/user/profile' %>

    <h3><li>User from Facebook</li></h3>
    <%= render partial: 'pages/user/fb_auth' %>

    <h3><li>User from Google</li></h3>
    <%= render partial: 'pages/user/google_auth' %>
  </ol>
</div>
